*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #f3f3f3;
}

header{
    height: 100vh;

    & p{
        width: 102ch;
        animation: escribir 3s steps(50), parpadear .5s step-end infinite;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid black;
    }

    & h1{
        font-size: 80px;
    }

    & img{
        width: 100%;
        height: auto;
    }

}

.sub-header{
    width: 80%;
    margin: auto;
    display: flex;

}

@keyframes escribir {
    from{
        width: 0;
    }
}

@keyframes parpadear{
    50%{
        border-color: transparent;
    }
}

nav{
    background-color: #262526;
    position: sticky;
    top: 0;

    & a{
        font-size: 24px;
        text-decoration: none;
        color: #d7d8da;
    }
}